ConsoleApp1/Connected Services/StrelskaZveza/ServiceStrelskaZveza2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:27911/ServiceStrelskaZveza.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" />
  <xs:element name="AddKlub">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="k" nillable="true" type="q1:Klub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddKlubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddKlubResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStrelec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="s" nillable="true" type="q2:Strelec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStrelecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStrelecResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKlub">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="k" nillable="true" type="q3:Klub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKlubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateKlubResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStrelec">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="k" nillable="true" type="q4:Strelec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStrelecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStrelecResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStrelcaVklub">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="s" nillable="true" type="q5:Strelec" />
        <xs:element minOccurs="0" name="kid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajStrelcaVklubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajStrelcaVklubResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKlub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteKlubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteKlubResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStrelec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStrelecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStrelecResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnKlubi">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnKlubiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="ReturnKlubiResult" nillable="true" type="q6:ArrayOfKlub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStrelci">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnStrelciResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="ReturnStrelciResult" nillable="true" type="q7:ArrayOfStrelec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUseri">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnUseriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="ReturnUseriResult" nillable="true" type="q8:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StrelciInKlub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StrelciInKlubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="StrelciInKlubResult" nillable="true" type="q9:ArrayOfStrelec" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AIS_N3_WCF" minOccurs="0" name="u" nillable="true" type="q10:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUserResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="admin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>